@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Hanken+Grotesk:wght@500;700;800&display=swap');
:root{
    --rojoPrimario: hsl(10, 79%, 65%);
    --cyanPrimario: hsl(186, 34%, 60%);

    --marronOscuro: hsl(25, 47%, 15%);
    --marronMedio: hsl(28, 10%, 53%);
    --crema: hsl(27, 66%, 92%);
    --naranjaPalido: hsl(33, 100%, 98%);
}


* {
    box-sizing: border-box;
}
body{
    background-color: var(--crema);
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

h1,h2,p{
    margin: 0;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 450px;
    height: 50vh;
    margin: auto;
    gap: 30px;
}

.balance{
    background-color: var(--rojoPrimario);
    color: white;
    border-radius: 25px;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    max-height: 100px;
}

.balance h2{
    font-size: 18px;
    font-weight: 400;
}

.balance p{
    font-size: 28px;
    font-weight: 700;
    margin-top: 8px;
}

.spending{
    background-color: white;
    border-radius: 25px;
    padding: 0 30px
}

.spending h2{
    margin-top: 30px;
    font-weight: 700;
}

.spending-chart{
    display: flex;
    justify-content: space-around;
    align-items: end;
    gap: 1px;
    margin: 20px 0;
    width: 100%;
}

.dayExpense{
    width: 40px;
    text-align: center;
}

.daily-bar{
    background-color: var(--rojoPrimario);
    margin-bottom: 10px;
    border-radius: 5px;
}

.daily-bar:hover{
    background-color: hsla(10, 79%, 65%, 0.5);
}

.max{
    background-color: var(--cyanPrimario);
}

.max:hover{
    background-color: hsla(186, 34%, 60%, 0.5);
}

.expense-label{
    width: fit-content;
    margin: 0 auto;
    position: relative;
    left: -8px;
    padding: 5px;
    background-color: var(--marronOscuro);
    color: white;
    font-size: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    visibility: hidden;
}

.day {
    color: hsl(27deg, 10%, 52%);
}

.separator{
    border: 1px solid hsl(27deg, 66%, 92%);
}

.spending-total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
    color: hsl(27deg, 10%, 52%);
}

.month-total span{
    color: black;
    font-weight: 700;
    font-size: 45px;
}

.month-comparison{
    text-align: right;
}

.month-comparison span{
    color: black;
    font-weight: 700;
}